# Del experiments

In [1]:
from util import util_experiment_juris_tcu as util_experiment

In [2]:
import importlib

In [3]:
DATASET = 'juris_tcu'

In [4]:
importlib.reload(util_experiment)

In [2]:
# util_experiment.del_experiment_value_column(column_name='CRITERIA',column_value='total_gte_5', parm_dataset='juris_tcu_index')

Excluindo CRITERIA = total_gte_5
Records to be deleted in df_experiment: 7
Records to be deleted in df_experiment_result: 700
Records successfully deleted.

In [ ]:
# util_experiment.del_experiment_result(time_key='2023-Jun-16 19:49:19', parm_dataset='juris_tcu_index')

Records to be deleted in df_experiment: 1
Records to be deleted in df_experiment_result: 100
Records successfully deleted.

In [ ]:
for value in valores_time_com_query_id_invalido:
    util_experiment.del_experiment_value_column(column_name='TIME',column_value=value, parm_dataset='juris_tcu_index',parm_confirm=False)

reorder columns of experiments

In [5]:
import pandas as pd

In [6]:
path_search_experiment =  f'../data/search/{DATASET}/search_experiment_{DATASET}.csv'
path_search_result =  f'../data/search/{DATASET}/search_experiment_result_{DATASET}.csv'

In [9]:

# Leitura do arquivo CSV existente
df_experiment = pd.read_csv(path_search_experiment)

In [10]:
df_experiment_result = pd.read_csv(path_search_result)

In [12]:
df_experiment.shape

(5, 14)

In [13]:
df_experiment.head()

,TIME,INDEX_NAME,RETRIEVER_TYPE,COUNT_QUERY_RUN,TOPK_RETRIEVER,TOPK_RANKER,COUNT_QUERY_WITHOUT_RESULT,COUNT_QUERY_NOT_FOUND,RANK1_MEAN,NDCG_MEAN,NDCG_LIMIT,TIME_SPENT_MEAN,RETRIEVER_MODEL_NAME,RANKER_MODEL_NAME
0,2023-Jun-26 20:44:08,indir_juris_tcu,bm25,150,300,0,0,0,2.367,58.502,15,0.122,NaN,NaN
1,2023-Jun-26 20:44:27,indir_juris_tcu_term,bm25,150,300,0,0,0,2.133,58.925,15,0.123,NaN,NaN
2,2023-Jun-26 20:44:46,indir_juris_tcu_synonym,bm25,150,300,0,0,0,2.300,57.717,15,0.124,NaN,NaN
3,2023-Jun-26 20:45:05,indir_juris_tcu_related_term,bm25,150,300,0,0,0,2.940,53.283,15,0.127,NaN,NaN
4,2023-Jun-26 20:45:25,indir_juris_tcu_synonym_related_term,bm25,150,300,0,0,0,2.420,54.757,15,0.129,NaN,NaN

In [14]:
df_experiment_result.shape

(750, 10)

In [15]:
df_experiment_result.head()

,TIME,QUERY_ID,TIME_SPENT,NDCG,COUNT_DOCTO_FOUND,COUNT_DOCTO_RELEVANT,GROUND_TRUTH,RANK1,LIST_RANK,LIST_DOCTO_RETURNED
0,2023-Jun-26 20:44:08,1,0.1427,43.07,300,15,"{21064: 3, 42166: 3, 13702: 3, 20592: 3, 15740...",2,"[35, 21, 15, 5, 3, 2, 16, 57, 22, 12, 52, 250,...","[20870, 53641, 15740, 20971, 20592, 21229, 183..."
1,2023-Jun-26 20:44:08,2,0.1241,62.58,300,15,"{31437: 3, 19340: 3, 77959: 3, 17289: 2, 18452...",2,"[9, 8, 2, 3, 6, 183, 283, 191, 226]","[32869, 77959, 17289, 19084, 18432, 18452, 564..."
2,2023-Jun-26 20:44:08,3,0.1284,24.41,300,15,"{18380: 3, 31102: 3, 17240: 3, 20511: 3, 32589...",6,"[22, 6, 19, 25, 10, 11, 38, 7, 27, 55, 267]","[17218, 42262, 31118, 18955, 17219, 31102, 172..."
3,2023-Jun-26 20:44:08,4,0.1220,36.36,300,15,"{16895: 3, 45015: 3, 14526: 3, 62306: 3, 6237:...",4,"[5, 6, 18, 19, 15, 25, 12, 50, 20, 4, 97, 268]","[17195, 20860, 20841, 84935, 16895, 45015, 423..."
4,2023-Jun-26 20:44:08,5,0.1254,26.67,300,15,"{21172: 3, 17816: 3, 4066: 3, 53003: 3, 94290:...",3,"[3, 7, 16, 4, 94, 95, 96, 97, 105, 19, 90, 295]","[16932, 32590, 21172, 53003, 16262, 21793, 178..."

In [23]:
df_experiment_result.columns

Index(['TIME', 'QUERY_ID', 'TIME_SPENT', 'NDCG', 'COUNT_DOCTO_FOUND',
       'COUNT_DOCTO_RELEVANT', 'GROUND_TRUTH', 'RANK1', 'LIST_RANK',
       'LIST_DOCTO_RETURNED'],
      dtype='object')

In [16]:

# Salvando o dataframe concatenado no arquivo CSV
## se precisar ajustar a ordem
column_order = ['TIME', 'QUERY_ID', 'TIME_SPENT', 'NDCG', 'COUNT_DOCTO_FOUND',
       'COUNT_DOCTO_RELEVANT', 'GROUND_TRUTH', 'RANK1', 'LIST_RANK',
       'LIST_DOCTO_RETURNED']

In [18]:
df_experiment[column_order].shape

(37, 14)

In [19]:
df_experiment[column_order].to_csv(path_search_experiment, sep = ',', index=False)