In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
#from util import util_experiment_juris_tcu_index as util_experiment 
from util import util_experiment_juris_tcu as util_experiment

In [5]:
from util import util_pipeline

OpenAI tiktoken module is not available for Python < 3.8,Linux ARM64 and AARCH64. Falling back to GPT2TokenizerFast.
WARNING:haystack.nodes.answer_generator.openai:OpenAI tiktoken module is not available for Python < 3.8,Linux ARM64 and AARCH64. Falling back to GPT2TokenizerFast.

In [4]:
import importlib

In [6]:
# DATASET = 'juris_tcu_index'
DATASET = 'juris_tcu'

In [6]:
importlib.reload(util_experiment)

In [7]:
path_search_experiment =  f'../data/search/{DATASET}/search_experiment_{DATASET}.csv'
path_search_result =  f'../data/search/{DATASET}/search_experiment_result_{DATASET}.csv'

# Del experiments

In [10]:
for index_name in ['indir_juris_tcu_term', 'indir_juris_tcu_synonym', 'indir_juris_tcu_related_term', 'indir_juris_tcu_synonym_related_term']:
    util_experiment.del_experiment_value_column(column_name='INDEX_NAME',column_value=index_name, parm_dataset=DATASET)

Excluindo INDEX_NAME = indir_juris_tcu_term
Records to be deleted in df_experiment: 135
Records to be deleted in df_experiment_result: 20250
Records successfully deleted.
Excluindo INDEX_NAME = indir_juris_tcu_synonym
Records to be deleted in df_experiment: 135
Records to be deleted in df_experiment_result: 20250
Records successfully deleted.
Excluindo INDEX_NAME = indir_juris_tcu_related_term
Records to be deleted in df_experiment: 135
Records to be deleted in df_experiment_result: 20250
Records successfully deleted.
Excluindo INDEX_NAME = indir_juris_tcu_synonym_related_term
Records to be deleted in df_experiment: 135
Records to be deleted in df_experiment_result: 20250
Records successfully deleted.

In [12]:
util_experiment.del_experiment_value_column(column_name='EXPANSOR_CRITERIA',column_value='join_30_ptt5_indir_83', parm_dataset=DATASET)

Excluindo EXPANSOR_CRITERIA = join_30_ptt5_indir_83
Records to be deleted in df_experiment: 20
Records to be deleted in df_experiment_result: 3000
Records successfully deleted.

In [ ]:
# util_experiment.del_experiment_result(time_key='2023-Jun-16 19:49:19', parm_dataset='juris_tcu_index')

Records to be deleted in df_experiment: 1
Records to be deleted in df_experiment_result: 100
Records successfully deleted.

In [4]:
# for value in valores_time_com_query_id_invalido:
#    util_experiment.del_experiment_value_column(column_name='TIME',column_value=value, parm_dataset='juris_tcu_index',parm_confirm=False)

reorder columns of experiments

In [8]:

# Leitura do arquivo CSV existente
df_experiment = pd.read_csv(path_search_experiment)

In [69]:
df_experiment_result = pd.read_csv(path_search_result)

In [70]:
df_experiment.shape

(217, 14)

In [71]:
df_experiment.head()

,TIME,COUNT_QUERY_RUN,COUNT_QUERY_WITHOUT_RESULT,COUNT_QUERY_NOT_FOUND,TOPK_RETRIEVER,TOPK_RANKER,RANK1_MEAN,NDCG_LIMIT,NDCG_MEAN,TIME_SPENT_MEAN,CRITERIA,RETRIEVER_TYPE,RETRIEVER_MODEL_NAME,RANKER_MODEL_NAME
0,2023-Jun-24 00:05:01,100,0.0,0.0,300,0.0,3.75,12,62.094,0.693,area,bm25,NaN,unicamp-dl/mt5-3B-mmarco-en-pt
1,2023-Jun-24 00:06:13,100,0.0,0.0,300,0.0,3.75,12,62.094,0.719,area,sts,rufimelo/Legal-BERTimbau-sts-large-ma-v3,unicamp-dl/mt5-3B-mmarco-en-pt
2,2023-Jun-24 00:06:16,100,0.0,0.0,300,0.0,3.62,12,61.063,0.024,area,sts,rufimelo/Legal-BERTimbau-sts-large-ma-v3,NaN
3,2023-Jun-24 00:06:18,100,0.0,0.0,300,0.0,5.48,12,50.063,0.013,area,bm25,NaN,NaN
4,2023-Jun-24 00:06:21,100,0.0,0.0,300,0.0,3.62,12,61.063,0.033,area,join_sts_bm25,rufimelo/Legal-BERTimbau-sts-large-ma-v3,NaN

In [15]:
df_experiment_result.head()

,TIME,QUERY_ID,TIME_SPENT,NDCG,COUNT_DOCTO_FOUND,COUNT_DOCTO_RELEVANT,GROUND_TRUTH,RANK1,LIST_RANK,LIST_DOCTO_RETURNED
0,2023-Jun-26 20:44:08,1,0.1427,43.07,300,15,"{21064: 3, 42166: 3, 13702: 3, 20592: 3, 15740...",2,"[35, 21, 15, 5, 3, 2, 16, 57, 22, 12, 52, 250,...","[20870, 53641, 15740, 20971, 20592, 21229, 183..."
1,2023-Jun-26 20:44:08,2,0.1241,62.58,300,15,"{31437: 3, 19340: 3, 77959: 3, 17289: 2, 18452...",2,"[9, 8, 2, 3, 6, 183, 283, 191, 226]","[32869, 77959, 17289, 19084, 18432, 18452, 564..."
2,2023-Jun-26 20:44:08,3,0.1284,24.41,300,15,"{18380: 3, 31102: 3, 17240: 3, 20511: 3, 32589...",6,"[22, 6, 19, 25, 10, 11, 38, 7, 27, 55, 267]","[17218, 42262, 31118, 18955, 17219, 31102, 172..."
3,2023-Jun-26 20:44:08,4,0.1220,36.36,300,15,"{16895: 3, 45015: 3, 14526: 3, 62306: 3, 6237:...",4,"[5, 6, 18, 19, 15, 25, 12, 50, 20, 4, 97, 268]","[17195, 20860, 20841, 84935, 16895, 45015, 423..."
4,2023-Jun-26 20:44:08,5,0.1254,26.67,300,15,"{21172: 3, 17816: 3, 4066: 3, 53003: 3, 94290:...",3,"[3, 7, 16, 4, 94, 95, 96, 97, 105, 19, 90, 295]","[16932, 32590, 21172, 53003, 16262, 21793, 178..."

In [23]:
df_experiment_result.columns

Index(['TIME', 'QUERY_ID', 'TIME_SPENT', 'NDCG', 'COUNT_DOCTO_FOUND',
       'COUNT_DOCTO_RELEVANT', 'GROUND_TRUTH', 'RANK1', 'LIST_RANK',
       'LIST_DOCTO_RETURNED'],
      dtype='object')

In [16]:

# Salvando o dataframe concatenado no arquivo CSV
## se precisar ajustar a ordem
column_order = ['TIME', 'QUERY_ID', 'TIME_SPENT', 'NDCG', 'COUNT_DOCTO_FOUND',
       'COUNT_DOCTO_RELEVANT', 'GROUND_TRUTH', 'RANK1', 'LIST_RANK',
       'LIST_DOCTO_RETURNED']

In [18]:
df_experiment[column_order].shape

(37, 14)

In [19]:
df_experiment[column_order].to_csv(path_search_experiment, sep = ',', index=False)